
html{
  overflow-x: hidden;
}
body{
  background-color: #474747;
  font-family: 'Montserrat', sans-serif;
}
.principal{
  background-image: url(../img/StockSnap_79H5DWE31P.jpg);
  background-size: cover;
  height: 50vh;
  background-position: center;

}

.background-text{
  background-color: rgba(0,0,0,0.40);
}
.title{
  color: white;
  font-size: 10em;
  font-weight: bolder;
}
.col-title{
  padding-top: 20%;
}
.map{
  padding-top: 5vh;
}
#splash{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:#f5f5f5;
    z-index: 1000;
}
h2{
  display: inline-block;
  color: orange;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 2vh;
}
.fa-cutlery{
  font-size: 4em;
  color: orange;
  padding-left: 2vh;
}

.form-control{
  font-size: 1.5em;
  height: 3em;
  margin-bottom: 8vh;
}

.modal-food{
  width: 80%;
  padding-top: 60vh;
  background-image: url(../img/Ven-a-conocernos1.jpg);
}